In [2]:
ls

drive/  sample_data/

In [3]:
ls

drive/  sample_data/

In [ ]:
!cd MyDrive

/bin/bash: line 1: cd: MyDrive: No such file or directory

In [4]:
cd drive/

/content/drive

In [5]:
cd MyDrive/

/content/drive/MyDrive

In [6]:
cd Data\ Analytics

/content/drive/MyDrive/Data Analytics

In [7]:
import pandas as pd
import numpy as np

In [8]:
# Replace 'olympics.csv'
df = pd.read_csv('olympics.csv',header=1) #skip the first line

# To display the first few rows of the DataFrame
print(df.head())

                Unnamed: 0  ? Summer  01 !  02 !  03 !  Total  ? Winter  \
0        Afghanistan (AFG)        13     0     0     2      2         0
1            Algeria (ALG)        12     5     2     8     15         3
2          Argentina (ARG)        23    18    24    28     70        18
3            Armenia (ARM)         5     1     2     9     12         6
4  Australasia (ANZ) [ANZ]         2     3     4     5     12         0

   01 !.1  02 !.1  03 !.1  Total.1  ? Games  01 !.2  02 !.2  03 !.2  \
0       0       0       0        0       13       0       0       2
1       0       0       0        0       15       5       2       8
2       0       0       0        0       41      18      24      28
3       0       0       0        0       11       1       2       9
4       0       0       0        0        2       3       4       5

   Combined total
0               2
1              15
2              70
3              12
4              12

In [9]:
print(df.tail(1))

    Unnamed: 0  ? Summer  01 !  02 !  03 !  Total  ? Winter  01 !.1  02 !.1  \
146     Totals        27  4809  4775  5130  14714        22     959     958

     03 !.1  Total.1  ? Games  01 !.2  02 !.2  03 !.2  Combined total
146     948     2865       49    5768    5733    6078           17579

In [10]:
# 1. Identify and handle missing values
missing_data = df.isnull().sum()

print("Missing data per column:")
print(missing_data)

Missing data per column:
Unnamed: 0        0
? Summer          0
01 !              0
02 !              0
03 !              0
Total             0
? Winter          0
01 !.1            0
02 !.1            0
03 !.1            0
Total.1           0
? Games           0
01 !.2            0
02 !.2            0
03 !.2            0
Combined total    0
dtype: int64

In [11]:
# 2. Remove duplicates (Check for duplicated records)
duplicated_records = df[df.duplicated()]

print("Duplicated records:")
print(duplicated_records)

Duplicated records:
Empty DataFrame
Columns: [Unnamed: 0, ? Summer, 01 !, 02 !, 03 !, Total, ? Winter, 01 !.1, 02 !.1, 03 !.1, Total.1, ? Games, 01 !.2, 02 !.2, 03 !.2, Combined total]
Index: []

In [12]:
# 3.Standardize Data Types
df[0:1]

,Unnamed: 0,? Summer,01 !,02 !,03 !,Total,? Winter,01 !.1,02 !.1,03 !.1,Total.1,? Games,01 !.2,02 !.2,03 !.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2

In [14]:
from os import rename # Change the name of column
df = df.rename(columns={'Unnamed: 0':'Country','? Summer':'Summer','01 !':'Gold_s', '02 !':'Silver_s','03 !':'Bronze_s','Total':'Total_summer','? Winter':'Winter','01 !.1':'Gold_w', '02 !.1':'Silver_w','03 !.1':'Bronze_w','Total.1':'Total_winter','? Games':'Total_games','01 !.2':'Gold_s','02 !.2':'Silver_s','03 !.2':'Bronze_s','Combined total':'Combined_total'})

In [15]:
df.head(3)

,Country,Summer,Gold_s,Silver_s,Bronze_s,Total_summer,Winter,Gold_w,Silver_w,Bronze_w,Total_winter,Total_games,Gold_s,Silver_s,Bronze_s,Combined_total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70

In [16]:
duplicate_rows = df.duplicated()
df.duplicated().sum()

0

In [17]:
format(len(df[df.duplicated()]))

'0'

In [18]:
df.isnull()

,Country,Summer,Gold_s,Silver_s,Bronze_s,Total_summer,Winter,Gold_w,Silver_w,Bronze_w,Total_winter,Total_games,Gold_s,Silver_s,Bronze_s,Combined_total
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
143,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
144,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
145,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
146,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [19]:
df.isnull().sum()

Country           0
Summer            0
Gold_s            0
Silver_s          0
Bronze_s          0
Total_summer      0
Winter            0
Gold_w            0
Silver_w          0
Bronze_w          0
Total_winter      0
Total_games       0
Gold_s            0
Silver_s          0
Bronze_s          0
Combined_total    0
dtype: int64

In [20]:
data_types = df.dtypes
print(data_types)

Country           object
Summer             int64
Gold_s             int64
Silver_s           int64
Bronze_s           int64
Total_summer       int64
Winter             int64
Gold_w             int64
Silver_w           int64
Bronze_w           int64
Total_winter       int64
Total_games        int64
Gold_s             int64
Silver_s           int64
Bronze_s           int64
Combined_total     int64
dtype: object

In [21]:
df.loc[~df['Country'].astype(str).str.isdigit(),'Country'].tolist()
# [1.15, 'Armenia']

['Afghanistan (AFG)',
 'Algeria (ALG)',
 'Argentina (ARG)',
 'Armenia (ARM)',
 'Australasia (ANZ) [ANZ]',
 'Australia (AUS) [AUS] [Z]',
 'Austria (AUT)',
 'Azerbaijan (AZE)',
 'Bahamas (BAH)',
 'Bahrain (BRN)',
 'Barbados (BAR) [BAR]',
 'Belarus (BLR)',
 'Belgium (BEL)',
 'Bermuda (BER)',
 'Bohemia (BOH) [BOH] [Z]',
 'Botswana (BOT)',
 'Brazil (BRA)',
 'British West Indies (BWI) [BWI]',
 'Bulgaria (BUL) [H]',
 'Burundi (BDI)',
 'Cameroon (CMR)',
 'Canada (CAN)',
 'Chile (CHI) [I]',
 'China (CHN) [CHN]',
 'Colombia (COL)',
 'Costa Rica (CRC)',
 'Ivory Coast (CIV) [CIV]',
 'Croatia (CRO)',
 'Cuba (CUB) [Z]',
 'Cyprus (CYP)',
 'Czech Republic (CZE) [CZE]',
 'Czechoslovakia (TCH) [TCH]',
 'Denmark (DEN) [Z]',
 'Djibouti (DJI) [B]',
 'Dominican Republic (DOM)',
 'Ecuador (ECU)',
 'Egypt (EGY) [EGY] [Z]',
 'Eritrea (ERI)',
 'Estonia (EST)',
 'Ethiopia (ETH)',
 'Finland (FIN)',
 'France (FRA) [O] [P] [Z]',
 'Gabon (GAB)',
 'Georgia (GEO)',
 'Germany (GER) [GER] [Z]',
 'United Team of Germany (EUA) [EUA]',
 'East Germany (GDR) [GDR]',
 'West Germany (FRG) [FRG]',
 'Ghana (GHA) [GHA]',
 'Great Britain (GBR) [GBR] [Z]',
 'Greece (GRE) [Z]',
 'Grenada (GRN)',
 'Guatemala (GUA)',
 'Guyana (GUY) [GUY]',
 'Haiti (HAI) [J]',
 'Hong Kong (HKG) [HKG]',
 'Hungary (HUN)',
 'Iceland (ISL)',
 'India (IND) [F]',
 'Indonesia (INA)',
 'Iran (IRI) [K]',
 'Iraq (IRQ)',
 'Ireland (IRL)',
 'Israel (ISR)',
 'Italy (ITA) [M] [S]',
 'Jamaica (JAM) [JAM]',
 'Japan (JPN)',
 'Kazakhstan (KAZ)',
 'Kenya (KEN)',
 'North Korea (PRK)',
 'South Korea (KOR)',
 'Kuwait (KUW)',
 'Kyrgyzstan (KGZ)',
 'Latvia (LAT)',
 'Lebanon (LIB)',
 'Liechtenstein (LIE)',
 'Lithuania (LTU)',
 'Luxembourg (LUX) [O]',
 'Macedonia (MKD)',
 'Malaysia (MAS) [MAS]',
 'Mauritius (MRI)',
 'Mexico (MEX)',
 'Moldova (MDA)',
 'Mongolia (MGL)',
 'Montenegro (MNE)',
 'Morocco (MAR)',
 'Mozambique (MOZ)',
 'Namibia (NAM)',
 'Netherlands (NED) [Z]',
 'Netherlands Antilles (AHO) [AHO] [I]',
 'New Zealand (NZL) [NZL]',
 'Niger (NIG)',
 'Nigeria (NGR)',
 'Norway (NOR) [Q]',
 'Pakistan (PAK)',
 'Panama (PAN)',
 'Paraguay (PAR)',
 'Peru (PER) [L]',
 'Philippines (PHI)',
 'Poland (POL)',
 'Portugal (POR)',
 'Puerto Rico (PUR)',
 'Qatar (QAT)',
 'Romania (ROU)',
 'Russia (RUS) [RUS]',
 'Russian Empire (RU1) [RU1]',
 'Soviet Union (URS) [URS]',
 'Unified Team (EUN) [EUN]',
 'Saudi Arabia (KSA)',
 'Senegal (SEN)',
 'Serbia (SRB) [SRB]',
 'Serbia and Montenegro (SCG) [SCG]',
 'Singapore (SIN)',
 'Slovakia (SVK) [SVK]',
 'Slovenia (SLO)',
 'South Africa (RSA)',
 'Spain (ESP) [Z]',
 'Sri Lanka (SRI) [SRI]',
 'Sudan (SUD)',
 'Suriname (SUR) [E]',
 'Sweden (SWE) [Z]',
 'Switzerland (SUI)',
 'Syria (SYR)',
 'Chinese Taipei (TPE) [TPE] [TPE2]',
 'Tajikistan (TJK)',
 'Tanzania (TAN) [TAN]',
 'Thailand (THA)',
 'Togo (TOG)',
 'Tonga (TGA)',
 'Trinidad and Tobago (TRI) [TRI]',
 'Tunisia (TUN)',
 'Turkey (TUR)',
 'Uganda (UGA)',
 'Ukraine (UKR)',
 'United Arab Emirates (UAE)',
 'United States (USA) [P] [Q] [R] [Z]',
 'Uruguay (URU)',
 'Uzbekistan (UZB)',
 'Venezuela (VEN)',
 'Vietnam (VIE)',
 'Virgin Islands (ISV)',
 'Yugoslavia (YUG) [YUG]',
 'Independent Olympic Participants (IOP) [IOP]',
 'Zambia (ZAM) [ZAM]',
 'Zimbabwe (ZIM) [ZIM]',
 'Mixed team (ZZX) [ZZX]',
 'Totals']

In [22]:
df.loc[~df['Country'].astype(str).str.isdigit(), 'Country'].tolist()
# [10.1o5, 'test']

['Afghanistan (AFG)',
 'Algeria (ALG)',
 'Argentina (ARG)',
 'Armenia (ARM)',
 'Australasia (ANZ) [ANZ]',
 'Australia (AUS) [AUS] [Z]',
 'Austria (AUT)',
 'Azerbaijan (AZE)',
 'Bahamas (BAH)',
 'Bahrain (BRN)',
 'Barbados (BAR) [BAR]',
 'Belarus (BLR)',
 'Belgium (BEL)',
 'Bermuda (BER)',
 'Bohemia (BOH) [BOH] [Z]',
 'Botswana (BOT)',
 'Brazil (BRA)',
 'British West Indies (BWI) [BWI]',
 'Bulgaria (BUL) [H]',
 'Burundi (BDI)',
 'Cameroon (CMR)',
 'Canada (CAN)',
 'Chile (CHI) [I]',
 'China (CHN) [CHN]',
 'Colombia (COL)',
 'Costa Rica (CRC)',
 'Ivory Coast (CIV) [CIV]',
 'Croatia (CRO)',
 'Cuba (CUB) [Z]',
 'Cyprus (CYP)',
 'Czech Republic (CZE) [CZE]',
 'Czechoslovakia (TCH) [TCH]',
 'Denmark (DEN) [Z]',
 'Djibouti (DJI) [B]',
 'Dominican Republic (DOM)',
 'Ecuador (ECU)',
 'Egypt (EGY) [EGY] [Z]',
 'Eritrea (ERI)',
 'Estonia (EST)',
 'Ethiopia (ETH)',
 'Finland (FIN)',
 'France (FRA) [O] [P] [Z]',
 'Gabon (GAB)',
 'Georgia (GEO)',
 'Germany (GER) [GER] [Z]',
 'United Team of Germany (EUA) [EUA]',
 'East Germany (GDR) [GDR]',
 'West Germany (FRG) [FRG]',
 'Ghana (GHA) [GHA]',
 'Great Britain (GBR) [GBR] [Z]',
 'Greece (GRE) [Z]',
 'Grenada (GRN)',
 'Guatemala (GUA)',
 'Guyana (GUY) [GUY]',
 'Haiti (HAI) [J]',
 'Hong Kong (HKG) [HKG]',
 'Hungary (HUN)',
 'Iceland (ISL)',
 'India (IND) [F]',
 'Indonesia (INA)',
 'Iran (IRI) [K]',
 'Iraq (IRQ)',
 'Ireland (IRL)',
 'Israel (ISR)',
 'Italy (ITA) [M] [S]',
 'Jamaica (JAM) [JAM]',
 'Japan (JPN)',
 'Kazakhstan (KAZ)',
 'Kenya (KEN)',
 'North Korea (PRK)',
 'South Korea (KOR)',
 'Kuwait (KUW)',
 'Kyrgyzstan (KGZ)',
 'Latvia (LAT)',
 'Lebanon (LIB)',
 'Liechtenstein (LIE)',
 'Lithuania (LTU)',
 'Luxembourg (LUX) [O]',
 'Macedonia (MKD)',
 'Malaysia (MAS) [MAS]',
 'Mauritius (MRI)',
 'Mexico (MEX)',
 'Moldova (MDA)',
 'Mongolia (MGL)',
 'Montenegro (MNE)',
 'Morocco (MAR)',
 'Mozambique (MOZ)',
 'Namibia (NAM)',
 'Netherlands (NED) [Z]',
 'Netherlands Antilles (AHO) [AHO] [I]',
 'New Zealand (NZL) [NZL]',
 'Niger (NIG)',
 'Nigeria (NGR)',
 'Norway (NOR) [Q]',
 'Pakistan (PAK)',
 'Panama (PAN)',
 'Paraguay (PAR)',
 'Peru (PER) [L]',
 'Philippines (PHI)',
 'Poland (POL)',
 'Portugal (POR)',
 'Puerto Rico (PUR)',
 'Qatar (QAT)',
 'Romania (ROU)',
 'Russia (RUS) [RUS]',
 'Russian Empire (RU1) [RU1]',
 'Soviet Union (URS) [URS]',
 'Unified Team (EUN) [EUN]',
 'Saudi Arabia (KSA)',
 'Senegal (SEN)',
 'Serbia (SRB) [SRB]',
 'Serbia and Montenegro (SCG) [SCG]',
 'Singapore (SIN)',
 'Slovakia (SVK) [SVK]',
 'Slovenia (SLO)',
 'South Africa (RSA)',
 'Spain (ESP) [Z]',
 'Sri Lanka (SRI) [SRI]',
 'Sudan (SUD)',
 'Suriname (SUR) [E]',
 'Sweden (SWE) [Z]',
 'Switzerland (SUI)',
 'Syria (SYR)',
 'Chinese Taipei (TPE) [TPE] [TPE2]',
 'Tajikistan (TJK)',
 'Tanzania (TAN) [TAN]',
 'Thailand (THA)',
 'Togo (TOG)',
 'Tonga (TGA)',
 'Trinidad and Tobago (TRI) [TRI]',
 'Tunisia (TUN)',
 'Turkey (TUR)',
 'Uganda (UGA)',
 'Ukraine (UKR)',
 'United Arab Emirates (UAE)',
 'United States (USA) [P] [Q] [R] [Z]',
 'Uruguay (URU)',
 'Uzbekistan (UZB)',
 'Venezuela (VEN)',
 'Vietnam (VIE)',
 'Virgin Islands (ISV)',
 'Yugoslavia (YUG) [YUG]',
 'Independent Olympic Participants (IOP) [IOP]',
 'Zambia (ZAM) [ZAM]',
 'Zimbabwe (ZIM) [ZIM]',
 'Mixed team (ZZX) [ZZX]',
 'Totals']

In [23]:
df.describe()

,Summer,Gold_s,Silver_s,Bronze_s,Total_summer,Winter,Gold_w,Silver_w,Bronze_w,Total_winter,Total_games,Gold_s,Silver_s,Bronze_s,Combined_total
count,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000
mean,13.476190,65.428571,64.965986,69.795918,200.190476,6.700680,13.047619,13.034014,12.897959,38.979592,20.176871,78.476190,78.000000,82.693878,239.170068
std,7.072359,405.549990,399.309960,427.187344,1231.306297,7.433186,80.799204,80.634421,79.588388,240.917324,13.257048,485.013378,478.860334,505.855110,1469.067883
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.000000,0.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,0.000000,1.000000,1.000000,2.500000
50%,13.000000,3.000000,4.000000,6.000000,12.000000,5.000000,0.000000,0.000000,0.000000,0.000000,15.000000,3.000000,4.000000,7.000000,12.000000
75%,18.500000,24.000000,28.000000,29.000000,86.000000,10.000000,1.000000,2.000000,1.000000,5.000000,27.000000,25.500000,29.000000,32.500000,89.000000
max,27.000000,4809.000000,4775.000000,5130.000000,14714.000000,22.000000,959.000000,958.000000,948.000000,2865.000000,49.000000,5768.000000,5733.000000,6078.000000,17579.000000

In [24]:
pd.set_option('display.precision', 2)

In [25]:
print(df.describe())

       Summer   Gold_s  Silver_s  Bronze_s  Total_summer  Winter  Gold_w  \
count  147.00   147.00    147.00    147.00        147.00  147.00  147.00
mean    13.48    65.43     64.97     69.80        200.19    6.70   13.05
std      7.07   405.55    399.31    427.19       1231.31    7.43   80.80
min      1.00     0.00      0.00      0.00          0.00    0.00    0.00
25%      8.00     0.00      1.00      1.00          2.00    0.00    0.00
50%     13.00     3.00      4.00      6.00         12.00    5.00    0.00
75%     18.50    24.00     28.00     29.00         86.00   10.00    1.00
max     27.00  4809.00   4775.00   5130.00      14714.00   22.00  959.00

       Silver_w  Bronze_w  Total_winter  Total_games   Gold_s  Silver_s  \
count    147.00    147.00        147.00       147.00   147.00    147.00
mean      13.03     12.90         38.98        20.18    78.48     78.00
std       80.63     79.59        240.92        13.26   485.01    478.86
min        0.00      0.00          0.00         1.00     0.00      0.00
25%        0.00      0.00          0.00        11.00     0.00      1.00
50%        0.00      0.00          0.00        15.00     3.00      4.00
75%        2.00      1.00          5.00        27.00    25.50     29.00
max      958.00    948.00       2865.00        49.00  5768.00   5733.00

       Bronze_s  Combined_total
count    147.00          147.00
mean      82.69          239.17
std      505.86         1469.07
min        0.00            1.00
25%        1.00            2.50
50%        7.00           12.00
75%       32.50           89.00
max     6078.00        17579.00

In [ ]:
# Integration:  https://pandas.pydata.org/docs/user_guide/merging.html; merge, join.

In [26]:
df

,Country,Summer,Gold_s,Silver_s,Bronze_s,Total_summer,Winter,Gold_w,Silver_w,Bronze_w,Total_winter,Total_games,Gold_s,Silver_s,Bronze_s,Combined_total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
143,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
144,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [27]:
# Save a copy of the clean data
df.to_csv(r'/content/drive/MyDrive/Data Analytics/olympics_clean.csv')

In [53]:
# Start the data cleaning for 'BL-Flickr-Images-Book.csv'
df2 = pd.read_csv('BL-Flickr-Images-Book.csv')

# To display the first few rows of the DataFrame
df2.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [54]:
# Identify and handle missing values
missing_data = df2.isnull().sum()

print("Missing data per column:")
print(missing_data)

Missing data per column:
Identifier                   0
Edition Statement         7514
Place of Publication         0
Date of Publication        181
Publisher                 4195
Title                        0
Author                    1778
Contributors                 0
Corporate Author          8287
Corporate Contributors    8287
Former owner              8286
Engraver                  8287
Issuance type                0
Flickr URL                   0
Shelfmarks                   0
dtype: int64

In [55]:
df2.isnull()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,False,True,False,False,False,False,False,False,True,True,True,True,False,False,False
1,False,True,False,False,False,False,False,False,True,True,True,True,False,False,False
2,False,True,False,False,False,False,False,False,True,True,True,True,False,False,False
3,False,True,False,False,False,False,False,False,True,True,True,True,False,False,False
4,False,False,False,False,False,False,False,False,True,True,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8282,False,True,False,False,True,False,False,False,True,True,True,True,False,False,False
8283,False,True,False,False,False,False,False,False,True,True,True,True,False,False,False
8284,False,True,False,False,False,False,False,False,True,True,True,True,False,False,False
8285,False,True,False,False,False,False,False,False,True,True,True,True,False,False,False
8286,False,True,False,False,True,False,True,False,True,True,True,True,False,False,False

In [56]:
df2.isna().sum()

Identifier                   0
Edition Statement         7514
Place of Publication         0
Date of Publication        181
Publisher                 4195
Title                        0
Author                    1778
Contributors                 0
Corporate Author          8287
Corporate Contributors    8287
Former owner              8286
Engraver                  8287
Issuance type                0
Flickr URL                   0
Shelfmarks                   0
dtype: int64

In [57]:
# Drop the columns with a significant number of missing values, in this case they are not key to this analysis.
to_drop = ['Edition Statement',
            'Corporate Author',
            'Corporate Contributors',
            'Former owner',
            'Engraver']

df2.drop(to_drop,inplace=True, axis=1)

In [58]:
df2.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Issuance type,Flickr URL,Shelfmarks
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [59]:
# Check if any duplicated variables in "Indentifier"
df2['Identifier'].is_unique

True

In [67]:
df2 = df2.set_index('Identifier')
df2.head()

KeyError: "None of ['Identifier'] are in the columns"

In [68]:
df2['Identifier'] = df2.index
df2 = df2.set_index('Identifier')
df2.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Issuance type,Flickr URL,Shelfmarks
Identifier,,,,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [69]:
df2.loc[206]

Place of Publication                                               London
Date of Publication                                           1879 [1878]
Publisher                                                S. Tinsley & Co.
Title                                   Walter Forbes. [A novel.] By A. A
Author                                                              A. A.
Contributors                                              FORBES, Walter.
Issuance type                                                 monographic
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Shelfmarks                              British Library HMNTS 12641.b.30.
Name: 206, dtype: object

In [77]:
df2.dtypes.value_counts()

object    9
Name: count, dtype: int64

In [78]:
df2.loc[1905:, 'Date of Publication'].head(10)

Identifier
1905           1888
1929    1839, 38-54
2836           1897
2854           1865
2956        1860-63
2957           1873
3017           1866
3131           1899
4598           1814
4884           1820
Name: Date of Publication, dtype: object

In [ ]:
# Remove the extra dates in square brackets, wherever present: 1879 [1878]
# Convert date ranges to their “start date”, wherever present: 1860-63; 1839, 38-54
# Completely remove the dates we are not certain about and replace them with NumPy’s NaN: [1897?]
# Convert the string nan to NumPy’s NaN value

In [80]:
#find any four digit at the beginning of a string,\d means any digit, {4} meains repeats this rule for four times
regex = r'^(\d{4})'

In [82]:
extr = df2['Date of Publication'].str.extract(r'^(\d{4})', expand=False)

In [83]:
extr.head()

Identifier
206    1879
216    1868
218    1869
472    1851
480    1857
Name: Date of Publication, dtype: object

In [84]:
df2['Date of Publication'] = pd.to_numeric(extr)
df2['Date of Publication'].dtype

dtype('float64')

In [85]:
df2['Date of Publication'].isnull().sum()/len(df2)

0.11717147339205986

In [ ]:
# Cleaning "Place of Publication" field

In [86]:
# Step 1: Show the content of the column
df2['Place of Publication'].head(10)

Identifier
206                                  London
216                London; Virtue & Yorston
218                                  London
472                                  London
480                                  London
481                                  London
519                                  London
667     pp. 40. G. Bryan & Co: Oxford, 1898
874                                 London]
1143                                 London
Name: Place of Publication, dtype: object

In [87]:
pub = df2['Place of Publication']
london = pub.str.contains('London')
london[:5]

Identifier
206    True
216    True
218    True
472    True
480    True
Name: Place of Publication, dtype: bool

In [89]:
oxford = pub.str.contains('Oxford')

In [90]:
df2['Place of Publication'] = np.where(london, 'London',
                                       np.where(oxford, 'Oxford',
                                                pub.str.replace('-',' ')))
df2['Place of Publication'].head()

Identifier
206    London
216    London
218    London
472    London
480    London
Name: Place of Publication, dtype: object

In [91]:
df2.loc[874]

Place of Publication                                               London
Date of Publication                                                1676.0
Publisher                                                             NaN
Title                   A Warning to the inhabitants of England, and L...
Author                                                             Remaʿ.
Contributors                                                 ADAMS, Mary.
Issuance type                                                 monographic
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Shelfmarks                             British Library HMNTS 11645.bb.42.
Name: 874, dtype: object

In [92]:
df2.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Issuance type,Flickr URL,Shelfmarks
Identifier,,,,,,,,,
206,London,1879.0,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
216,London,1868.0,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
218,London,1869.0,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
472,London,1851.0,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
480,London,1857.0,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [93]:
# Replace the missing value in 'Author' with a placeholder 'Unknown'
df2['Author'].fillna("Unknown", inplace = True)

In [94]:
# Verify the changes
df2.isna().sum()

Place of Publication       0
Date of Publication      971
Publisher               4195
Title                      0
Author                     0
Contributors               0
Issuance type              0
Flickr URL                 0
Shelfmarks                 0
dtype: int64

In [95]:
# Replace the missing value in 'Publisher' with a placeholder 'Unknown'
df2['Publisher'].fillna("Unknown", inplace = True)

In [96]:
df2.isna().sum()

Place of Publication      0
Date of Publication     971
Publisher                 0
Title                     0
Author                    0
Contributors              0
Issuance type             0
Flickr URL                0
Shelfmarks                0
dtype: int64

In [97]:
# Imputing the missing value in 'Date of Publication' with mode
df2['Date of Publication'].describe(), df2['Date of Publication'].mode()

(count    7316.00
 mean     1856.63
 std        42.48
 min      1510.00
 25%      1842.00
 50%      1867.00
 75%      1886.00
 max      1915.00
 Name: Date of Publication, dtype: float64,
 0    1897.0
 Name: Date of Publication, dtype: float64)

In [99]:
df2['Date of Publication'].fillna(df2['Date of Publication'].mode()[0], inplace=True)

In [100]:
df2.isnull().sum() #Verify the result

Place of Publication    0
Date of Publication     0
Publisher               0
Title                   0
Author                  0
Contributors            0
Issuance type           0
Flickr URL              0
Shelfmarks              0
dtype: int64

In [101]:
# Save the cleaned dataset
df.to_csv(r'/content/drive/MyDrive/Data Analytics/BL-Flickr-Images-Book_clean.csv')